.gradient-custom-2 {

background-image: linear-gradient(
  55deg,
  hsl(261deg 48% 33%) 0%,
  hsl(278deg 49% 34%) 31%,
  hsl(294deg 52% 35%) 48%,
  hsl(308deg 58% 37%) 62%,
  hsl(317deg 66% 41%) 73%,
  hsl(324deg 72% 45%) 83%,
  hsl(330deg 76% 49%) 92%,
  hsl(335deg 85% 53%) 98%,
  hsl(342deg 100% 59%) 100%
);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

#btnEntrar{
width: 40%; 
margin: auto; 
text-align: center;
}

#SecLogin{
    background:url('img/log1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#contLogin{
    width: 100%;
    height: 100vh;
}